.Menu {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 10px 0;
  z-index: 1;
}

.Menu > a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.Menu > a img {
  width: 80px;
  margin-right: 10px;
}

.Menu > ul {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav li {
  margin: 0 20px;
  font-size: 14px;
}

.nav li a:hover {
  color: #eba1a2;
  border-bottom: 2px solid #eba1a2;
  padding-bottom: 5px;
}

.social {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.social img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
